<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="6fcdae2f-9882-48a5-ac5a-141a9cbf3475" name="TestSuite srvcElevation" xmlns:con="http://eviware.com/soapui/config"><con:description>This is the Description of the Test Suite.  WH
TestSuite generated for REST Service [srvcElevation]</con:description><con:settings><con:setting id="6fcdae2f-9882-48a5-ac5a-141a9cbf3475fileName">TestSuite-srvcElevation</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>