<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="4bf2a61a-d1a3-4042-aaf9-bb89a774584a" wadlVersion="http://wadl.dev.java.net/2009/02" name="srvcElevation" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="4bf2a61a-d1a3-4042-aaf9-bb89a774584afileName">srvcElevation</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>https://maps.googleapis.com</con:endpoint></con:endpoints></con:interface>